* {
    padding: 0;
    margin: 0;
}

.main-cont {
    height: 780px;
    display: flex;
    flex-direction: column;
}

.cont-1 {
    display: flex;
    flex-grow: 1;
}

.cont-2 {
    display: flex;
    flex-grow: 1;
}

.cont-3 {
    display: flex;
    flex-grow: 1;
}

.box-1-1 {
    background-color: white;
    flex-basis: 25%;
}

.box-1-2 {
    background-color: white;
    flex-basis: 25%;
}

.box-1-3 {
    background-color: orange;
    flex-basis: 25%;
}

.box-1-4 {
    background-color: red;
    flex-basis: 25%;
}

.box-2-1 {
    background-color: white;
    flex-basis: 25%;
}

.box-2-2 {
    background-color: rgb(65, 1, 87);
    flex-basis: 25%;
}

.box-2-3 {
    background-color: orange;
    flex-basis: 25%;
}

.box-2-4 {
    background-color: white;flex-basis: 25%;

}

.box-3-1 {
    background-color: rgb(96, 19, 26);
    flex-basis: 25%;
}

.box-3-2 {
    background-color: white;
    flex-basis: 25%;
}

.box-3-3 {
    background-color: orange;
    flex-basis: 25%;
}

.box-3-4 {
    background-color: white;
    flex-basis: 25%;
}